@model PhotoSiteByAnastasia.Models.EmailModel
@{
    Layout = null;
}
<html>
<body>
    <h1>@Model.Subject</h1>
    <label>Имя отправителя: </label>
    <p>@Model.Name</p>
    <label>E-mail отправителя: </label>
    <p>@Model.Email</p>
    <label>Текст сообщения: </label>
    <p>@Model.Body</p>
</body>
</html>