@{
    ViewBag.Title = "Обо мне";
}
<<<<<<< HEAD
<div>

</div>
=======
<style>
    .block {
        display: inline-block;
        vertical-align: middle;
    }
</style>
<div class="block">
    <img src="https://pp.userapi.com/c837323/v837323294/43a7/GphFTkwdIzU.jpg" width="25%" align="middle">
</div>
<div class="block">
    <p align="right">
        Добро пожаловать в маленький мир моих фотографий. Прекрасный мир, где можно окунуться в красоту сохранённых моментов нашей жизни.
    </p>
</div>

<div class="block">
    <p>
        Хочется отметить, что увлекаюсь этим чудесным занятием не профессионально,а ради своего творческого интереса.
        Основная цель моей деятельности- развивать своё маленькое творчество с вашей помощью - участием в фотосъёмке.
        Моя история началась с тех самых дней, когда впервые была осуществлена первая самостоятельная покупка из серии фототехники. Встречая интересных людей, я пыталась создавать различные снимки. Да, вы не ошиблись, именно людей. Каждый из них особенный. Взгляд, улыбка, чувства, эмоции.. Незабываемые впечатления. Всё это в одном человеке. Именно поэтому хочется запечатлеть самые искренние моменты, самые живые.
        Благодаря появлению современной техники мы позволяем себе сохранить те самые тёплые, нежные, радостные моменты, которые переживаем в данный миг.
        Я верю, что каждая семья найдёт своего семейного фотографа. Это очень важно, ведь приглашая его, вы не просто открываете двери вашего дома, а на некоторое время впускаете его в свой маленький мир- мир полный любви, нежности и улыбок.
        В ваших фотоальбомах будет храниться самое дорогое- история о Вас и вашей семье!
        Буду очень рада разделить, а самое главное- запечатлеть эти прекрасные моменты.
    </p>
</div>
>>>>>>> 5de42dca4be36d209477a3f358a950c913f75188
