
@{
    ViewBag.Title = "Галерея фотографий";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Галерея</title>
    <link rel="StyleSheet" href="~/Content/StyleSheet1.css"/>
</head>
<body>
    <div class="image"><a href="#"><img width="40%" height="40%" src="https://pp.userapi.com/c637731/v637731977/693be/IptRhCCFHY0.jpg" /></a></div>
    <div class="image"><a href="#"><img width="40%" height="40%" src="https://pp.userapi.com/c637731/v637731977/693be/IptRhCCFHY0.jpg" /></a></div>
    <div class="image"><a href="#"><img width="40%" height="40%" src="https://pp.userapi.com/c637731/v637731977/693be/IptRhCCFHY0.jpg" /></a></div>
</body>    
</body>
</html>


