@{
    ViewBag.Title = "Photo by Anastasiya";
}

<div id="captioned-gallery">
    <figure class="slider">
        <figure>
            <img src="~/Content/images/river.jpg">
            <figcaption>Река</figcaption>
        </figure>
        <figure>
            <img src="~/Content/images/lake.jpg">
            <figcaption>Озеро</figcaption>
        </figure>
        <figure>
            <img src="~/Content/images/mount.jpg">
            <figcaption>Горы</figcaption>
        </figure>
        <figure>
            <img src="~/Content/images/bich.jpg">
            <figcaption>Пляж</figcaption>
        </figure>
        <figure>
            <img src="~/Content/images/river.jpg">
            <figcaption>Река</figcaption>
        </figure>
    </figure>
</div>