
* {
    margin: 0;
    padding: 0;
}

html {
    background: #23234323;
}

body {
    background: aliceblue;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fe70), color-stop(0.07,#ffffff), color-stop(1.0, #abd0d6));
    min-height: 500px;
    padding: 100px;
}

/*меню*/
ul {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Cormorant Infant', serif;
    text-decoration: none;
}

    ul li {
        list-style: none;
    }

        ul li a {
            position: relative;
            display: block;
            margin: 0 10px;
            padding: 5px 10px;
            color: #aaa;
            font-size: 24px;
            transition: 0.5s;
            overflow: hidden;
        }

            ul li a::before {
                content: '';
                position: absolute;
                top: calc(50% - 2px);
                left: -100%;
                width: 100%;
                height: 4px;
                background: #d2f9ff;
                transition: 0.5s;
                text-decoration: none;
            }

            ul li a:hover {
                color: #000;
                text-decoration: none;
                border-radius: 500px;
            }

                ul li a:hover::before {
                    animation: animate .5s linear forwards;
                }

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }

    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }

    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

/*Стили для текста и оформления*/
p {
    color: #000;
    line-height: 1;
    font-family: 'Cormorant Infant', serif;
    font-weight: normal;
    margin: inherit;
    position: static;
    left: 50%;
    margin-left: -px;
    text-indent: 30px;
}

p {
    font-size: 20px;
    padding: 5px 15px 10px;
    top: 0;
}

h2 {
    font-family: 'Cormorant Infant', serif;
    font-size: 18px;
    padding: 4px 13px 9px 11px;
    top: 51px;
    text-indent: 190px;
}

header {
    display: block;
    margin-top: 50px;
    position: relative;
}

nav {
    display: block;
    margin: 600px auto 0;
    text-align: center;
    width: 600px;
}

footer {
    color: #000000;
    font-size: 15px;
    line-height: normal.;
    padding: 50px 20px 0;
    text-align: center;
    display: block;
    font-family: 'Shadows Into Light', cursive;
}



a, a:visited {
    text-decoration: none;
    outline: none;
    color: #aedeff;
}

    a:hover {
        text-decoration: underline;
    }

img.nastya {
    float: left; /* Обтекание картинки по левому краю */
    padding-right: 20px; /* Отступ слева */
    padding-bottom: 20px; /* Отступ снизу */
    margin-top: 10px;
    width: 290px;
    border-radius: 500px;
}

img.nastya1 {
    float: right; /* Обтекание картинки по левому краю */
    padding-left: 20px; /* Отступ слева */
    padding-bottom: 20px; /* Отступ снизу */
    margin-top: 10px;
    width: 300px;
    border-radius: 500px;
}

hr {
    border: none;
    background-color: black;
    height: 1px;
}

p.shrift {
    font-family: 'Shadows Into Light', cursive;
}

div.niz {
    padding-top: 100px;
}
